.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin-top: 18px;
}

.form-container {
    justify-content: center;
    align-items: center;
}