.messages-panel {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.message-row {
    display: flex;
    width: 100%;
}

.left-align {
    justify-content: flex-end;
}

.right-align {
    justify-content: flex-start;
}

.my-message-box {
    margin: 5px 4px;
    padding: 5px 4px;
    background-color: greenyellow;
    border-radius: 8px 8px 8px 0;
    width: fit-content;
}

.other-message-box {
    margin: 5px 4px;
    padding: 5px 4px;
    background-color: lightgray;
    border-radius: 8px 8px 0 8px;
    width: fit-content;
}